:root {
  --top-ad-bk: #E45E5D;
  --header-brdr-clr: #F9DDF1;
  --pacifo-font: "Pacifico", serif;
  --source-font: "Source Serif 4", serif;
  --top-ad-font: "Questrial", serif;
  --button-clr: #C35F69;
  --body-bk: #FEFAFD;
  --btn-hover-clr: rgb(172, 27, 42);
}

.container {
  width: min(100% - 30px, 1220px);
  margin-inline: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* -------------------------------------------------------------------- */
/* --------------------------------TopAd------------------------------- */
/* -------------------------------------------------------------------- */
.top-ad {
  background-color: var(--top-ad-bk);
  height: 40px;
  width: 100%;
  display: grid;
  place-items: center;
}

.top-ad p {
  font-family: var(--top-ad-font);
  color: #fff;
}


/* -------------------------------------------------------------------- */
/* -------------------------------Header------------------------------- */
/* -------------------------------------------------------------------- */
.header {
  height: 100px;
  width: min(100% - 30px, 1440px);
  margin-inline: auto;
  padding-inline: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--header-brdr-clr);
}

.logo span {
  font-size: 25px;
  font-family: "Pacifico", serif;
}

.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
  /* margin-left: 187px; */
}

.header nav ul li {
  font-size: 17.5px;
  font-family: "Source Serif 4", serif;
  color: #000;
  cursor: pointer;
}

.header nav ul li:first-child {
  color: #E55F60;
}

.header nav ul li:nth-child(2)::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: ' \f107';
  font-size: 14px;
  color: #000;
}

.cart-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 126px;
  /* margin-left: 273px; */
}

.cart-side div {
  height: auto;
  width: 28px;
}

.cart-side div svg {
  height: auto;
  width: 100%;
  cursor: pointer;
}


/* -------------------------------------------------------------------- */
/* -------------------------------Banner------------------------------- */
/* -------------------------------------------------------------------- */
.banner {
  position: relative;
}

.banner .left-side {
  margin-top: 80px;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.banner .left-side p {
  font-size: 36px;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
}

.banner .left-side p span {
  display: block;
}

.banner .left-side p span:nth-child(2) {
  font-family: "Pacifico", serif;
}

.banner .left-side button {
  padding: 6px 24px;
  display: block;
  font-family: var(--pacifo-font);
  font-size: 32px;
  font-weight: 500;
  border: 3px solid var(--button-clr);
  border-radius: 6px;
  background-color: var(--button-clr);
  color: var(--body-bk);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.banner .left-side button:last-child {
  background-color: transparent;
  color: var(--button-clr);
}

.banner .left-side button span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(172 27 42 / 80%);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Prevent the span from blocking any interactions */
  z-index: -1;
}

/* Hover state: Expand the span */
.banner .left-side button:hover span {
  width: 300%;
  height: 300%;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.banner .left-side button:hover {
  background-color: transparent;
  color: var(--body-bk);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.banner .bnr-rgt {
  position: absolute;
  top: 225px;
  left: 80%;
  transform: translate(-50%, -50%);
  height: 610px;
  width: 58%;
  background-color: var(--header-brdr-clr);
  border-radius: 32px 0px 0px 0px;
  z-index: -1;
}

